<div class="bg-[#FFC146] p-8 grid grid-cols-8">
    <h2 class="text-white text-4xl text-center col-start-4 col-span-2">RECLAMOS</h2>

        <div class="inline p-2 col-start-3 col-span-2">
            <p class="text-white p-2">Fecha</p>
            <input type="text" class="p-2 rounded-lg w-full">
        </div>
        <div class="inline p-2 col-span-2">
            <p class="text-white p-2">Nro Reclamo</p>
            <input type="text" class="p-2 rounded-lg w-full">
        </div>

        <div class="inline p-2 col-start-3 col-span-2">
            <p class="text-white p-2" >Nombres</p>
            <input type="text" class="p-2 rounded-lg w-full">
        </div>
        <div class="inline p-2 col-span-2">
            <p class="text-white p-2">Apellidos</p>
            <input type="text" class="p-2 rounded-lg w-full">
        </div>
        <div class="inline p-2 col-start-3 col-span-2">
            <p class="text-white p-2">Correro electronico</p>
            <input type="text" class="p-2 rounded-lg w-full">
        </div>
        <div class="inline p-2 col-span-2">
            <p class="text-white p-2">Telefono fijo/Celular</p>
            <input type="text" class="p-2 rounded-lg w-full">
        </div>    
    <div class="col-span-4 col-start-3 p-2">
        <p class="text-white p-2">Dirección</p>
        <input type="text" class="p-2 rounded-lg w-full">
    </div>
    <div class="col-span-4 col-start-3 p-2">
        <p class="text-white p-2">Motivo del Reclamo</p>
        <textarea cols="30" rows="10" class="p-2 rounded-lg w-full resize-none"></textarea>
    </div>
    <div class="border-white text-white border-4 m-2 col-span-2 col-start-5 p-2 rounded-full hover:border-[#FFC146] hover:text-[#FFC146] hover:bg-white hover:cursor-pointer">
        <p class="text-center">Enviar Reclamo ></p>
    </div>
</div>