<div class="grid grid-cols-12">
    <span class="gap-4 bg-[#FFC146] box-border w-60 max-h col-span-2">
            <div class="text-white p-2 transition hover:bg-white duration-200 hover:text-[#FFC146] hover:cursor-pointer">
                <p class="transition hover:translate-x-32 space-0 duration-300 text-xl">TODOS</p>
            </div>
            <div class="text-white p-2 transition hover:bg-white duration-200 hover:text-[#FFC146] hover:cursor-pointer">
                <p class="transition hover:translate-x-24 space-0 duration-300 text-xl">ADHESIVO</p>
            </div>
            <div class="text-white p-2 transition hover:bg-white duration-200 hover:text-[#FFC146] hover:cursor-pointer">
                <p class="transition hover:translate-x-24 space-0 duration-300 text-xl">ESCALERAS</p>
            </div>
            <div class="text-white p-2 transition hover:bg-white duration-200 hover:text-[#FFC146] hover:cursor-pointer">
                <p class="transition hover:translate-x-12 space-0 duration-300 text-xl">HERRAMIENTAS</p>
            </div>
            <div class="text-white p-2 transition hover:bg-white duration-200 hover:text-[#FFC146] hover:cursor-pointer">
                <p class="transition hover:translate-x-24 space-0 duration-300 text-xl">PINTURAS</p>
            </div>
            <div class="text-white p-2 transition hover:bg-white duration-200 hover:text-[#FFC146] hover:cursor-pointer">
                <p class="transition hover:translate-x-28 space-0 duration-300 text-xl">CLAVOS</p>
            </div>
            <div class="text-white p-2 transition hover:bg-white duration-200 hover:text-[#FFC146] hover:cursor-pointer">
                <p class="transition hover:translate-x-3 space-0 duration-300 text-xl">PLANCHAS DRYWALL</p>
            </div>
            <div class="text-white p-2 transition hover:bg-white duration-200 hover:text-[#FFC146] hover:cursor-pointer">
                <p class="transition hover:translate-x-24 space-0 duration-300 text-xl">MADERAS</p>
            </div>
    </span>
    <span class="inline-grid grid-cols-5 gap-2 bg-white col-span-10">
        <a href="/product-view" class="border m-2 border-red-500 inline" >
            <img [src]="image1" alt="image1" class="object-contain">
            <p>Producto 1</p>
            <p>S/.999,99</p>
        </a>
        <div class="border m-2 border-red-500 inline">
            <img [src]="image2" alt="image2" class="object-contain">
            <p>Producto 2</p>
            <p>S/.999,99</p>
        </div>
        <div class="border m-2 border-red-500 inline">
            <img [src]="image3" alt="image3" class="object-contain">
            <p>Producto 3</p>
            <p>S/.999,99</p>
        </div>
        <div class="border m-2 border-red-500 inline">
            <img [src]="image4" alt="image4" class="object-contain">
            <p>Producto 4</p>
            <p>S/.999,99</p>
        </div>
        <div class="border m-2 border-red-500 inline">
            <img [src]="image5" alt="image5" class="object-contain">
            <p>Producto 5</p>
            <p>S/.999,99</p>
        </div>
        <div class="border m-2 border-red-500 inline">
            <img [src]="image6" alt="image6" class="object-contain">
            <p>Producto 6</p>
            <p>S/.999,99</p>
        </div>
        <div class="border m-2 border-red-500 inline">
            <img [src]="image7" alt="image7" class="object-contain">
            <p>Producto 7</p>
            <p>S/.999,99</p>
        </div>
    </span>
</div>