<div class="bg-[#FFC146] grid grid-cols-12 grid-rows-3">
    <div class="bg-white h-40 p-10 my-4 col-span-9 rounded-br-full">
        <h2 class="font-bold text-2xl">MISION</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quaerat? Voluptate, sapiente mollitia! Et laborum amet eos fugit sunt at
            porro praesentium nostrum? Vitae quas omnis quos ab soluta incidunt.</p>
    </div>
    <div class="bg-white h-40 p-10 my-2 row-start-2 col-start-3 col-span-12 rounded-bl-full">
        <h2 class="font-bold text-2xl text-right">VISION</h2>
        <p class="text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quaerat? Voluptate, sapiente mollitia! Et laborum amet eos fugit sunt at
            porro praesentium nostrum? Vitae quas omnis quos ab soluta incidunt.</p>
    </div>
    <div class="bg-white h-40 p-10 my-4 row-start-3 col-span-9 rounded-br-full">
        <h2 class="font-bold text-2xl">VALORES</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quaerat? Voluptate, sapiente mollitia! Et laborum amet eos fugit sunt at
            porro praesentium nostrum? Vitae quas omnis quos ab soluta incidunt.</p>
    </div>
</div>
