<div class="grid grid-cols-8 bg-white">
    <div class="w-[35rem] h-[29rem] col-span-4 m-4 justify-self-center">
        <img [src]="image1" alt="image1" class="object-contain h-[28rem] w-[35rem]">
    </div>
    <div class="col-span-4 bg-white">
        <p class="justify-self-center m-4">DATOS DEL PRODUCTO</p>
        <table class="table-auto border border-black">
            <tbody>
                <tr>
                    <th class="border border-black w-40 p-4">Marca</th>
                    <td class="border border-black w-60 p-4">Topex</td>
                </tr>
                <tr>
                    <th class="border border-black p-4">Ancho</th>
                    <td class="border border-black p-4">11.5 cm</td>
                </tr>
                <tr>
                    <th class="border border-black p-4">Alto</th>
                    <td class="border border-black p-4">27 cm</td>
                </tr>
                <tr>
                    <th class="border border-black p-4">Garantia</th>
                    <td class="border border-black p-4">No indica</td>
                </tr>
                <tr>
                    <th class="border border-black p-4">Caracteristicas</th>
                    <td class="border border-black p-4">Diluyente para diferentes usos</td>
                </tr>
                <tr>
                    <th class="border border-black p-4">Contenido</th>
                    <td class="border border-black p-4">1 unidad(es)</td>
                </tr>
                <tr>
                    <th class="border border-black p-4">Precio</th>
                    <td class="border border-black p-4">S/.999,99</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bg-[#FFC146] col-start-5 col-span-4 py-4">
        <div class="inline bg-[#FFC146] box-border border p-4">
            -
        </div>
        <div class="inline bg-[#FFC146] box-border border p-4">
            1
        </div>
        <div class="inline bg-[#FFC146] box-border border p-4">
            +
        </div>
        <div class="inline bg-[#FFC146] box-border border p-4">
            Añadir al carrito
        </div>
    </div>
</div>